{% extends 'base.html' %}

{% load static %}

{% block css %}
<script type="text/javascript" src="{% static 'instascan.min.js' %} "></script>
{% endblock %}

{% block body %}

<h1>QR코드 체크</h1>

<video id="preview"></video>

<script>
document.addEventListener("DOMContentLoaded", event => {
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
  Instascan.Camera.getCameras().then(cameras => {
    scanner.camera = cameras[cameras.length - 1];
    scanner.start();
  }).catch(e => console.error(e));

  scanner.addListener('scan', content => {
    console.log(content);
    console.log('QR 읽었다!')
  });

});
  
</script>

{% endblock %}
